
{% extends 'layout/nav.html' %}

{% block content %}

    <div>
        {{ error }}
    </div>

    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button>
                Save
            </button>
        </form>
    </div>
    
    <div>
        <p>Auth trubles?</p>
        <form action="{% url 'resend-verification' %}" method="GET">
            <button>
            Resend verification
            </button>
        </form>
    </div>
{% endblock %}